openapi: 3.2.0
info:
  title: Amazon Rekognition Celebrity Recognition Content Moderation API
  description: Amazon Rekognition is a cloud-based computer vision service providing image and video analysis including label detection, facial analysis, face comparison, celebrity recognition, text detection, content moderation, custom labels, face liveness detection, and streaming video analysis.
  version: '2016-06-27'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/contact-us/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: documentation
servers:
- url: https://rekognition.amazonaws.com
  description: Amazon Rekognition global endpoint
tags:
- name: Content Moderation
  description: Detect inappropriate or explicit content.
paths:
  /#DetectModerationLabels:
    post:
      operationId: detectModerationLabels
      summary: Amazon Rekognition Detect Moderation Labels
      description: Detects unsafe content such as explicit adult content or violent content in an image.
      tags:
      - Content Moderation
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/DetectModerationLabelsRequest'
            examples:
              detectModerationLabelsRequestExample:
                summary: Default detectModerationLabels request
                x-microcks-default: true
                value:
                  Image:
                    S3Object:
                      Bucket: my-bucket
                      Name: ugc-content.jpg
                  MinConfidence: 50.0
      responses:
        '200':
          description: Moderation labels detected successfully.
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/DetectModerationLabelsResponse'
              examples:
                detectModerationLabels200Example:
                  summary: Default detectModerationLabels 200 response
                  x-microcks-default: true
                  value:
                    ModerationLabels: []
                    ModerationModelVersion: '7.0'
        '400':
          description: Invalid request parameters.
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - aws_signature: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    S3Object:
      type: object
      description: Provides the S3 bucket name and object name.
      properties:
        Bucket:
          type: string
          description: Name of the S3 bucket.
          example: my-images-bucket
        Name:
          type: string
          description: S3 object key name.
          example: images/photo.jpg
        Version:
          type: string
          description: S3 object version ID if versioning is enabled.
          example: v1
    DetectModerationLabelsResponse:
      type: object
      properties:
        ModerationLabels:
          type: array
          items:
            type: object
            properties:
              Confidence:
                type: number
                format: float
              Name:
                type: string
                example: Explicit Nudity
              ParentName:
                type: string
        ModerationModelVersion:
          type: string
          example: '7.0'
        HumanLoopActivationOutput:
          type: object
        ProjectVersion:
          type: string
    DetectModerationLabelsRequest:
      type: object
      required:
      - Image
      properties:
        Image:
          $ref: '#/components/schemas/Image'
        MinConfidence:
          type: number
          format: float
          description: Minimum confidence level for labels to return.
          example: 50.0
        HumanLoopConfig:
          type: object
          description: Sets up the flow for A2I human review of moderation labels.
        ProjectVersion:
          type: string
          description: Identifier for a custom label detection project version.
    Image:
      type: object
      description: Provides the input image either as bytes or an S3 object.
      properties:
        Bytes:
          type: string
          format: byte
          description: Blob of image bytes up to 5 MBs.
        S3Object:
          $ref: '#/components/schemas/S3Object'
    ErrorResponse:
      type: object
      description: Standard error response from the Amazon Rekognition API.
      properties:
        __type:
          type: string
          description: The type of exception.
          example: InvalidParameterException
        message:
          type: string
          description: Human-readable description of the error.
          example: Request has invalid parameters.
  securitySchemes:
    aws_signature:
      type: apiKey
      in: header
      name: Authorization
      description: AWS Signature Version 4. Include the Authorization header with AWS4-HMAC-SHA256 signature.
