openapi: 3.0.3
info:
  title: Amazon Rekognition Celebrity Recognition Image Analysis API
  description: Amazon Rekognition is a cloud-based computer vision service providing image and video analysis including label detection, facial analysis, face comparison, celebrity recognition, text detection, content moderation, custom labels, face liveness detection, and streaming video analysis.
  version: '2016-06-27'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/contact-us/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: documentation
servers:
- url: https://rekognition.amazonaws.com
  description: Amazon Rekognition global endpoint
tags:
- name: Image Analysis
  description: Detect labels, objects, scenes, and concepts in images.
paths:
  /#DetectLabels:
    post:
      operationId: detectLabels
      summary: Amazon Rekognition Detect Labels
      description: Detects instances of real-world entities within an image and returns labels with confidence scores.
      tags:
      - Image Analysis
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/DetectLabelsRequest'
            examples:
              detectLabels200Example:
                summary: Default detectLabels request
                x-microcks-default: true
                value:
                  Image:
                    S3Object:
                      Bucket: my-images-bucket
                      Name: images/photo.jpg
                  MaxLabels: 10
                  MinConfidence: 75.0
      responses:
        '200':
          description: Labels detected successfully.
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/DetectLabelsResponse'
              examples:
                detectLabels200Example:
                  summary: Default detectLabels 200 response
                  x-microcks-default: true
                  value:
                    Labels:
                    - Name: Person
                      Confidence: 98.5
                      Instances: []
                      Parents: []
                    LabelModelVersion: '3.0'
        '400':
          description: Invalid request parameters.
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - aws_signature: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    DetectLabelsResponse:
      type: object
      description: Response from the DetectLabels operation.
      properties:
        Labels:
          type: array
          description: An array of labels for the real-world objects detected.
          items:
            $ref: '#/components/schemas/Label'
        OrientationCorrection:
          type: string
          description: The value of OrientationCorrection is always null.
          example: ROTATE_0
        LabelModelVersion:
          type: string
          description: Version number of the label detection model used.
          example: '3.0'
        ImageProperties:
          type: object
          description: Information about the quality and dominant colors of an input image.
    Image:
      type: object
      description: Provides the input image either as bytes or an S3 object.
      properties:
        Bytes:
          type: string
          format: byte
          description: Blob of image bytes up to 5 MBs.
        S3Object:
          $ref: '#/components/schemas/S3Object'
    ErrorResponse:
      type: object
      description: Standard error response from the Amazon Rekognition API.
      properties:
        __type:
          type: string
          description: The type of exception.
          example: InvalidParameterException
        message:
          type: string
          description: Human-readable description of the error.
          example: Request has invalid parameters.
    DetectLabelsRequest:
      type: object
      required:
      - Image
      description: Request for the DetectLabels operation.
      properties:
        Image:
          $ref: '#/components/schemas/Image'
        MaxLabels:
          type: integer
          description: Maximum number of labels to return.
          example: 10
        MinConfidence:
          type: number
          format: float
          description: Minimum confidence level for labels to return.
          example: 75.0
        Features:
          type: array
          description: A list of the types of analysis to perform.
          items:
            type: string
            enum:
            - GENERAL_LABELS
            - IMAGE_PROPERTIES
        Settings:
          type: object
          description: Optional settings for label detection.
    BoundingBox:
      type: object
      description: Identifies the bounding box around the label, face, text or object.
      properties:
        Width:
          type: number
          format: float
          description: Width of the bounding box as a ratio of the overall image width.
          example: 0.35
        Height:
          type: number
          format: float
          description: Height of the bounding box as a ratio of the overall image height.
          example: 0.45
        Left:
          type: number
          format: float
          description: Left coordinate of the bounding box as a ratio of overall image width.
          example: 0.1
        Top:
          type: number
          format: float
          description: Top coordinate of the bounding box as a ratio of overall image height.
          example: 0.05
    S3Object:
      type: object
      description: Provides the S3 bucket name and object name.
      properties:
        Bucket:
          type: string
          description: Name of the S3 bucket.
          example: my-images-bucket
        Name:
          type: string
          description: S3 object key name.
          example: images/photo.jpg
        Version:
          type: string
          description: S3 object version ID if versioning is enabled.
          example: v1
    Label:
      type: object
      description: Structure containing details about the detected label.
      properties:
        Name:
          type: string
          description: The name of the label detected in the image or video.
          example: Person
        Confidence:
          type: number
          format: float
          description: Level of confidence for the label.
          example: 98.5
        Instances:
          type: array
          description: Bounding boxes for each instance of the detected object.
          items:
            type: object
            properties:
              BoundingBox:
                $ref: '#/components/schemas/BoundingBox'
              Confidence:
                type: number
                format: float
        Parents:
          type: array
          description: The parent labels for a label in the taxonomy hierarchy.
          items:
            type: object
            properties:
              Name:
                type: string
  securitySchemes:
    aws_signature:
      type: apiKey
      in: header
      name: Authorization
      description: AWS Signature Version 4. Include the Authorization header with AWS4-HMAC-SHA256 signature.
