openapi: 3.2.0
info:
  title: Amazon Rekognition Celebrity Recognition API
  description: Amazon Rekognition is a cloud-based computer vision service providing image and video analysis including label detection, facial analysis, face comparison, celebrity recognition, text detection, content moderation, custom labels, face liveness detection, and streaming video analysis.
  version: '2016-06-27'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/contact-us/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-generated-from: documentation
servers:
- url: https://rekognition.amazonaws.com
  description: Amazon Rekognition global endpoint
tags:
- name: Celebrity Recognition
  description: Identify celebrities in images and videos.
paths:
  /#RecognizeCelebrities:
    post:
      operationId: recognizeCelebrities
      summary: Amazon Rekognition Recognize Celebrities
      description: Returns an array of celebrities recognized in the input image.
      tags:
      - Celebrity Recognition
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              $ref: '#/components/schemas/ImageOnlyRequest'
            examples:
              recognizeCelebritiesRequestExample:
                summary: Default recognizeCelebrities request
                x-microcks-default: true
                value:
                  Image:
                    S3Object:
                      Bucket: my-bucket
                      Name: event-photo.jpg
      responses:
        '200':
          description: Celebrities recognized successfully.
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/RecognizeCelebritiesResponse'
              examples:
                recognizeCelebrities200Example:
                  summary: Default recognizeCelebrities 200 response
                  x-microcks-default: true
                  value:
                    CelebrityFaces: []
                    UnrecognizedFaces: []
        '400':
          description: Invalid request.
          content:
            application/x-amz-json-1.1:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - aws_signature: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    S3Object:
      type: object
      description: Provides the S3 bucket name and object name.
      properties:
        Bucket:
          type: string
          description: Name of the S3 bucket.
          example: my-images-bucket
        Name:
          type: string
          description: S3 object key name.
          example: images/photo.jpg
        Version:
          type: string
          description: S3 object version ID if versioning is enabled.
          example: v1
    Image:
      type: object
      description: Provides the input image either as bytes or an S3 object.
      properties:
        Bytes:
          type: string
          format: byte
          description: Blob of image bytes up to 5 MBs.
        S3Object:
          $ref: '#/components/schemas/S3Object'
    RecognizeCelebritiesResponse:
      type: object
      properties:
        CelebrityFaces:
          type: array
          items:
            type: object
            properties:
              Urls:
                type: array
                items:
                  type: string
              Name:
                type: string
                example: Jeff Bezos
              Id:
                type: string
              MatchConfidence:
                type: number
                format: float
              KnownGender:
                type: object
        UnrecognizedFaces:
          type: array
          items:
            type: object
    ErrorResponse:
      type: object
      description: Standard error response from the Amazon Rekognition API.
      properties:
        __type:
          type: string
          description: The type of exception.
          example: InvalidParameterException
        message:
          type: string
          description: Human-readable description of the error.
          example: Request has invalid parameters.
    ImageOnlyRequest:
      type: object
      required:
      - Image
      description: Request containing only an image.
      properties:
        Image:
          $ref: '#/components/schemas/Image'
  securitySchemes:
    aws_signature:
      type: apiKey
      in: header
      name: Authorization
      description: AWS Signature Version 4. Include the Authorization header with AWS4-HMAC-SHA256 signature.
